h1, h2, h3, p {
    font-family: 'Fira Code', monospace;
    font-display: swap;}

h1{font-size: 32pt; color: var(--white)}

h2 {font-size: 18pt; line-height: 18pt;color: var(--red)}

h3, p {
    font-size: 16px;
    color: var(--white);
    line-height: 16pt;
    margin: 8px 0
}

h1, h2 {font-weight: 500;}
h3 {font-weight: 500}
p {font-weight: 500}

:root {
    --grey: #343434;
    --white: #DADADA;
    --red: #F08488;
    --yellow: #F0DD95;
    --blue: #76C9D9;
}
html {scroll-behavior: smooth}
#yellow>h3{color: var(--yellow)}
#blue>h3{color: var(--blue)}
body{background: var(--grey);margin: auto;}

.hero {
    height: 100vh;
    min-height: 550px;
    display:flex;
    margin: auto;
    place-items: center;
    justify-content: center;
    flex-direction: column;
    background-image: url(untitled.webp);
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    -webkit-background-size: cover;
    margin-bottom: 40px;
    padding: 0 40px;
    gap: 40px;
}

.socials {display: flex; gap: 40px;}

.animate {
    transition-duration: 150ms;
    transition-timing-function: ease-in-out;
    -webkit-transition-duration: 150ms;
    -webkit-transition-timing-function: ease-in-out;
}

.icon-window {
    background: var(--white);
    padding: 24px;
    align-items: center;
    display: flex;
    background-size: 40px;
    background-repeat: no-repeat;
    background-position: center;
}

#linkedin {background-image: url(icons/linkedin.svg);}
#github {background-image: url(icons/github.svg);}

.window, .icon-window {will-change: filter; filter: drop-shadow(20px 20px 0 rgba(0, 0, 0, 0.6)); -webkit-filter: drop-shadow(20px 20px 0 rgba(0, 0, 0, 0.6));}

.window {
    max-width: 500px;
    background: var(--white);
    padding: 24px 48px 48px 48px;
}

div.icon-window:hover, div.window:hover {
    transition-duration: 150ms;
    transition-timing-function: ease-in-out;
    -webkit-transition-duration: 150ms;
    -webkit-transition-timing-function: ease-in-out;}

div.window:hover, div.icon-window:active {
    transform: translate(20px, 20px);
    filter: drop-shadow(0px 0px 0 rgba(0, 0, 0, 0.6));
    -webkit-transform: translate(20px, 20px);
    -webkit-filter: drop-shadow(0px 0px 0 rgba(0, 0, 0, 0.6));
}

.window>h1, .window>p {color: #343434}

.caption {
    background: var(--grey);
    padding: 24px 48px 30px 48px;
    margin-right:10%;
    filter: drop-shadow(20px 20px 0 rgba(0, 0, 0, 0.6));
    -webkit-filter: drop-shadow(20px 20px 0 rgba(0, 0, 0, 0.6));
    max-width: 300px
}

.cv {
    display: flex;
    max-width: 1000px;
    justify-content: space-between;
    margin: auto;
    gap: 25px;
    padding: 0 40px;
}

.left{
    min-width: 150px;
}

.right{
    max-width: 600px;
    flex-grow: 999;
}

.column{
    display: flex;
    flex-direction: row;
    gap: 25%;
}

.tab {
    display: flex;
    flex-direction:row;
    justify-content: space-between;
}

.grades {
    width: 90%;
    margin: auto;
}

.portfolio {
    height: 500px;
    display:flex;
    margin: auto;
    place-items: center;
    flex-direction: row-reverse;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center left;
    padding: 0 40px;
    -webkit-background-size: cover;
}

.portfolio-container {
    margin-top: 40px;
}

@media only screen and (max-width: 650px) {
    .icon-window {height: 20px; width: 20px;}
    .window {padding: 18px 32px 32px 32px;}
    .cv {flex-direction: column; gap: 0;}
    .column{columns: 1}
}

@media only screen and (max-width: 800px) {
    .portfolio {
        width: 80%;
        height: 600px;
        display:flex;
        margin: auto;
        place-items: center;
        flex-direction: column-reverse;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center left;
        -webkit-background-size: cover;
        filter: drop-shadow(20px 20px 0 rgba(0, 0, 0, 0.6));
        -webkit-filter: drop-shadow(20px 20px 0 rgba(0, 0, 0, 0.6));
        padding: 0;
    }

    .caption {
        background: rgb(52, 52, 52, 0.7);
        backdrop-filter: blur(16px);
        -webkit-backdrop-filter: blur(16px);
        padding: 20px;
        margin-right: 0;
        max-width: none;
        filter: drop-shadow(20px 20px 0 rgba(0, 0, 0, 0));
        -webkit-filter: drop-shadow(20px 20px 0 rgba(0, 0, 0, 0));
    }
    
    .portfolio-container {
        display: flex;
        flex-direction: column;
        gap: 80px;
    }

    .column{gap: 10%}
}

@media only screen and (max-width: 475px) {
    .column{flex-direction: column;}
}


@media only screen and (min-width: 600px) {
    .icon-window {height: 40px; width: 40px;}
    #linkedin:hover {background-image: url(icons/linkedin-big.svg);width: 200px;background-size: 200px;}
    #github:hover {background-image: url(icons/github-big.svg);width: 160px;background-size: 160px;}
}

#menuToggle {
    display: block;
    position: fixed;
    top: 40px;
    left: 40px;
    height: 0;
    width: 0;
    z-index: 1;
    -webkit-user-select: none;
    user-select: none;
}

a {text-decoration: none}
ul {list-style-type: none}
 
#menuToggle input {
    display: block;
    width: 40px;
    height: 32px;
    position: absolute;
    top: -7px;
    left: -5px;
    cursor: pointer;
    opacity: 0;
    z-index: 2;
    -webkit-touch-callout: none;
}

#menuToggle span {
    display: block;
    width: 33px;
    height: 4px;
    margin-bottom: 5px;
    position: relative;
    background: var(--white);
    border-radius: 0;
    z-index: 1;
    transform-origin: 4px 0px;
    transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
                background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
                opacity 0.55s ease;
}

#menuToggle span:first-child {transform-origin: 0% 0%;}
#menuToggle span:nth-last-child(2) {transform-origin: 0% 100%}

#menuToggle input:checked ~ span {opacity: 1; transform: rotate(45deg) translate(-2px, -1px);}

#menuToggle input:checked ~ span:nth-last-child(3) {opacity: 0;transform: rotate(0deg) scale(0.2, 0.2)}
#menuToggle input:checked ~ span:nth-last-child(2) {transform: rotate(-45deg) translate(0, -1px)}

.menu {
    height: 100vh;
    width: 100vw;
    margin: -100px 0 0 -50px;
    padding: 50px;
    padding-top: 125px;
    background: rgb(52, 52, 52, 0.9);
    -webkit-backdrop-filter: blur(12px);
    backdrop-filter: blur(12px);
    -webkit-font-smoothing: antialiased;
    transform-origin: 0% 0%;
    transform: translate(-100%, 0);
    transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
    display: flex;
    gap: 5px 0;
    flex-direction: column;
}

#menuToggle input:checked ~ ul {transform: none}